<% layout('layouts/boilerplate')%>

<h1>All Bug Reports</h1>
<div>
    <a class="btn btn-primary" href="/bugreports/new" role="button">Create Bug Report</a>
</div>
<br>

<table class="table table-striped table-fixed-width">
    <thead class="thead-dark">
        <tr>
            <th scope="col-md-2">Bug ID</th>
            <th scope="col-md-4">Bug Description</th>
            <th scope="col-md-2">Bug Status</th>
            <th scope="col-md-2">Assigned To</th>
            <th scope="col-md-2">Last Bump Date</th>
        </tr>
    </thead>
    <tbody>
        <% for (let bugreport of bugreports) { %>
            <tr>
                <td><a href="/bugreports/<%= bugreport._id %>"><%= bugreport.bugID %></a></td>
                <td><%= bugreport.bugDescription %></td>
                <td><%= bugreport.bugStatus %></td>
                <td><%= bugreport.bugAssignedTo %></td>
                <!-- Date in dd/mm/yyyy -->
                <td><%= bugreport.bugLastBumpDate.getDate() %>/<%= bugreport.bugLastBumpDate.getMonth() %>/<%= bugreport.bugLastBumpDate.getFullYear() %></td>
            </tr>
        <% } %>
    </tbody>
</table>