<%- include('partials/head') %>
<%- include('partials/navbar') %>
<article>
<table border="1" style="margin: 30px;">
    <thead>
        <tr>
            <th>Bug ID</th>
            <th>Description</th>
            <th>Status</th>
            <th>Date Reported</th>
            <th>Last Bump Date</th>
            <th>Assigned to</th>
        </tr>
    </thead>
    <tbody>
        <% for (let bugReport of bugReports) { %>
            <tr>
                <td><a href="/reports/``"><%= bugReport.bugID %></a></td>
                <td><%= bugReport.bugDescription %></td>
                <td><%= bugReport.bugStatus %></td>
                <td><%= new Date(bugReport.bugDateReported) %></td>
                <td><%= new Date(bugReport.bugLastBumpDate) %></td>
                <td><%= bugReport.bugAssignedTo %></td>
            </tr>
        <% } %>
    </tbody>
</table>
</article>
<%- include('partials/footer') %>